<a href="https://colab.research.google.com/github/FaithKoobial/wrangling/blob/main/Copy_of_assignment.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Assignment: Data Wrangling
## `! git clone https://github.com/DS3001/wrangling`
## Do Q2, and one of Q1 or Q3.

In [1]:
! git clone https://github.com/DS3001/wrangling

Cloning into 'wrangling'...
remote: Enumerating objects: 83, done.
remote: Counting objects: 100% (40/40), done.
remote: Compressing objects: 100% (29/29), done.
remote: Total 83 (delta 31), reused 11 (delta 11), pack-reused 43
Receiving objects: 100% (83/83), 10.85 MiB | 15.28 MiB/s, done.
Resolving deltas: 100% (36/36), done.

**Q1.** Open the "tidy_data.pdf" document in the repo, which is a paper called Tidy Data by Hadley Wickham.

  1. Read the abstract. What is this paper about?
  2. Read the introduction. What is the "tidy data standard" intended to accomplish?
  3. Read the intro to section 2. What does this sentence mean: "Like families, tidy datasets are all alike but every messy dataset is messy in its own way." What does this sentence mean: "For a given dataset, it’s usually easy to figure out what are observations and what are variables, but it is surprisingly difficult to precisely define variables and observations in general."
  4. Read Section 2.2. How does Wickham define values, variables, and observations?
  5. How is "Tidy Data" defined in section 2.3?
  6. Read the intro to Section 3 and Section 3.1. What are the 5 most common problems with messy datasets? Why are the data in Table 4 messy? What is "melting" a dataset?
  7. Why, specifically, is table 11 messy but table 12 tidy and "molten"?
  8. Read Section 6. What is the "chicken-and-egg" problem with focusing on tidy data? What does Wickham hope happens in the future with further work on the subject of data wrangling?

1. This paper is about data tidying, which is an important aspect of data cleaning. Data tidying is crucial because they are easy to manipulate, model and visualise, and have an organized structure.

2. The "tidy data standard" is supposed to accomplish a more organized way of data values within a dataset. It makes initial data cleaning easier because you don't have to start from the beginning.

3. The first sentence means that tidy datasets have a lot of similarities, of course, but still some nuances that you can use to differentiate a messy dataset being messy in its own, unique way. The second sentence means that it's easy to identify observations v. variables in a specific dataset, but it's hard to create a set defintion for these concepts universally to accomodate for multiple datasets.

4. Wickman defines values as a collection of numbers or strings in a dataset. These values either belong to a variable or an observation. A variable contains all values that measure the same underlying attribute no matter the unit. An observation contains values measured on the same unit such as a person, a day, or a race and it's across attributes.

5. Tidy data is defined as a standard way of mapping the meaning of a dataset to its structure. How messy or tidy it is depends on how the rows, columns, and tables match up with the observations, variables, and types.

6. The 5 most common problems with messy datasets are: columns headers are values not variable names; multiple variables are stored in one column, variables are stored in both rows and columns; multiple types of observational unites are stored in the same table; and a single observational unit is stored in multiple tables. Table 4 may be called messy because the variables form both the rows and the columns and the column headers are values, not variable names. A melting data set is when you turn columns into roww.

7. Table 11 is messy while Table 12 is tidy and "molten" because instead of values, the elemnt column contains names of variables and the missing values are dropped to conserve space. There isn't a year and month columns like in Table 11 but instead is simplified to a data column in table 12. Also, there is no need for d1, d2, d3... columns because table 12 concised it to a value, tmax, and tmin column.

8. The "chicken-and-egg" problem with focusing on tidy data is that tidy data is only as useful as the tools that worth with it, so tidy tools are inextricably linked to tidy data. With further work in the future, hopefully others will build on the framework of tidy data to develop better data storage strategies

**Q2.** This question provides some practice cleaning variables which have common problems.
1. Numeric variable: For `./data/airbnb_hw.csv`, clean the `Price` variable as well as you can, and explain the choices you make. How many missing values do you end up with? (Hint: What happens to the formatting when a price goes over 999 dollars, say from 675 to 1,112?)
2. Categorical variable: For the `./data/sharks.csv` data covered in the lecture, clean the "Type" variable as well as you can, and explain the choices you make.
3. Dummy variable: For the pretrial data covered in the lecture, clean the `WhetherDefendantWasReleasedPretrial` variable as well as you can, and, in particular, replace missing values with `np.nan`.
4. Missing values, not at random: For the pretrial data covered in the lecture, clean the `ImposedSentenceAllChargeInContactEvent` variable as well as you can, and explain the choices you make. (Hint: Look at the `SentenceTypeAllChargesAtConvictionInContactEvent` variable.)

In [3]:
import pandas as pd

y = pd.read_csv("/content/wrangling/assignment/data/airbnb_hw.csv")
print(y)

        Host Id Host Since                                Name Neighbourhood   \
0       5162530        NaN     1 Bedroom in Prime Williamsburg       Brooklyn
1      33134899        NaN     Sunny, Private room in Bushwick       Brooklyn
2      39608626        NaN                Sunny Room in Harlem      Manhattan
3           500  6/26/2008  Gorgeous 1 BR with Private Balcony      Manhattan
4           500  6/26/2008            Trendy Times Square Loft      Manhattan
...         ...        ...                                 ...            ...
30473  43022976  8/31/2015   10 Mins to Time Square/two floors         Queens
30474  42993382  8/31/2015       1BR ocean view & F,Q train st       Brooklyn
30475  43033067  8/31/2015                Amazing Private Room       Brooklyn
30476  43000991  8/31/2015   Charming private female room: UWS      Manhattan
30477  42999189  8/31/2015    Huge Beautiful Bedroom - Astoria         Queens

      Property Type  Review Scores Rating (bin)        Room Type  Zipcode  \
0         Apartment                         NaN  Entire home/apt  11249.0
1         Apartment                         NaN     Private room  11206.0
2         Apartment                         NaN     Private room  10032.0
3         Apartment                         NaN  Entire home/apt  10024.0
4         Apartment                        95.0     Private room  10036.0
...             ...                         ...              ...      ...
30473     Apartment                         NaN  Entire home/apt  11101.0
30474     Apartment                         NaN     Private room  11224.0
30475         Other                         NaN     Private room  11206.0
30476     Apartment                         NaN     Private room  10025.0
30477         House                         NaN     Private room  11105.0

       Beds  Number of Records  Number Of Reviews Price  Review Scores Rating
0       1.0                  1                  0   145                   NaN
1       1.0                  1                  1    37                   NaN
2       1.0                  1                  1    28                   NaN
3       3.0                  1                  0   199                   NaN
4       3.0                  1                 39   549                  96.0
...     ...                ...                ...   ...                   ...
30473   5.0                  1                  0   300                   NaN
30474   2.0                  1                  0   125                   NaN
30475   1.0                  1                  0    80                   NaN
30476   1.0                  1                  0    35                   NaN
30477   1.0                  1                  0    80                   NaN

[30478 rows x 13 columns]

In [ ]:
price = y['Price']
price.unique()

array(['145', '37', '28', '199', '549', '149', '250', '90', '270', '290',
       '170', '59', '49', '68', '285', '75', '100', '150', '700', '125',
       '175', '40', '89', '95', '99', '499', '120', '79', '110', '180',
       '143', '230', '350', '135', '85', '60', '70', '55', '44', '200',
       '165', '115', '74', '84', '129', '50', '185', '80', '190', '140',
       '45', '65', '225', '600', '109', '1,990', '73', '240', '72', '105',
       '155', '160', '42', '132', '117', '295', '280', '159', '107', '69',
       '239', '220', '399', '130', '375', '585', '275', '139', '260',
       '35', '133', '300', '289', '179', '98', '195', '29', '27', '39',
       '249', '192', '142', '169', '1,000', '131', '138', '113', '122',
       '329', '101', '475', '238', '272', '308', '126', '235', '315',
       '248', '128', '56', '207', '450', '215', '210', '385', '445',
       '136', '247', '118', '77', '76', '92', '198', '205', '299', '222',
       '245', '104', '153', '349', '114', '320', '292', '226', '420',
       '500', '325', '307', '78', '265', '108', '123', '189', '32', '58',
       '86', '219', '800', '335', '63', '229', '425', '67', '87', '1,200',
       '158', '650', '234', '310', '695', '400', '166', '119', '62',
       '168', '340', '479', '43', '395', '144', '52', '47', '529', '187',
       '209', '233', '82', '269', '163', '172', '305', '156', '550',
       '435', '137', '124', '48', '279', '330', '5,000', '134', '378',
       '97', '277', '64', '193', '147', '186', '264', '30', '3,000',
       '112', '94', '379', '57', '415', '236', '410', '214', '88', '66',
       '71', '171', '157', '545', '1,500', '83', '96', '1,800', '81',
       '188', '380', '255', '505', '54', '33', '174', '93', '740', '640',
       '1,300', '440', '599', '357', '1,239', '495', '127', '5,999',
       '178', '348', '152', '242', '183', '253', '750', '259', '365',
       '273', '197', '397', '103', '389', '355', '559', '38', '203',
       '999', '141', '162', '333', '698', '46', '360', '895', '10', '41',
       '206', '281', '449', '388', '212', '102', '201', '2,750', '4,750',
       '432', '675', '167', '390', '298', '339', '194', '302', '211',
       '595', '191', '53', '361', '480', '8,000', '4,500', '459', '997',
       '345', '216', '218', '111', '735', '276', '91', '490', '850',
       '398', '36', '775', '267', '625', '336', '2,500', '176', '725',
       '3,750', '469', '106', '460', '287', '575', '227', '263', '25',
       '228', '208', '177', '880', '148', '116', '685', '470', '217',
       '164', '61', '645', '699', '405', '252', '319', '268', '419',
       '343', '525', '311', '840', '154', '294', '950', '409', '184',
       '257', '204', '241', '2,000', '412', '121', '288', '196', '900',
       '647', '524', '1,750', '309', '510', '1,495', '1,700', '799',
       '383', '372', '492', '327', '1,999', '656', '224', '173', '875',
       '1,170', '795', '690', '146', '465', '1,100', '151', '274', '429',
       '825', '282', '256', '1,111', '620', '271', '161', '51', '855',
       '579', '1,174', '430', '20', '899', '649', '485', '181', '455',
       '4,000', '243', '342', '590', '560', '374', '437', '232', '359',
       '985', '31', '244', '254', '723', '237', '428', '370', '34',
       '1,400', '580', '2,520', '221', '749', '1,600', '2,695', '306',
       '202', '680', '570', '520', '223', '2,295', '213', '1,065', '346',
       '24', '286', '296', '266', '26', '995', '1,368', '393', '182',
       '635', '258', '780', '589', '347', '1,250', '1,350', '446',
       '3,200', '1,050', '1,650', '1,550', '975', '323', '6,500', '2,499',
       '1,850', '2,250', '715', '461', '540', '356', '439', '384', '569',
       '1,900', '22', '785', '626', '830', '318', '444', '321', '401',
       '1,499', '888', '369', '770', '386', '366', '344', '630', '313',
       '597', '262', '509', '10,000', '278', '312', '789', '1,195', '422',
       '21', '765', '3,500', '945', '326', '3,100', '2,486', '3,390',
       '1,356', '2,599', '472', '454', '328', '396', '291'], dtype=object)

In [ ]:
price = y['Price']
price = price.str.replace(',','')  #replace commas with nothing
print (price.unique, '\n')
price = pd.to_numeric(price,errors='coerce') #typecast price to numeric
print( price.unique() , '\n')
print( 'Total missing: ', sum( price.isnull() ) )  #converts all the values

<bound method Series.unique of 0        145
1         37
2         28
3        199
4        549
        ...
30473    300
30474    125
30475     80
30476     35
30477     80
Name: Price, Length: 30478, dtype: object>

[  145    37    28   199   549   149   250    90   270   290   170    59
    49    68   285    75   100   150   700   125   175    40    89    95
    99   499   120    79   110   180   143   230   350   135    85    60
    70    55    44   200   165   115    74    84   129    50   185    80
   190   140    45    65   225   600   109  1990    73   240    72   105
   155   160    42   132   117   295   280   159   107    69   239   220
   399   130   375   585   275   139   260    35   133   300   289   179
    98   195    29    27    39   249   192   142   169  1000   131   138
   113   122   329   101   475   238   272   308   126   235   315   248
   128    56   207   450   215   210   385   445   136   247   118    77
    76    92   198   205   299   222   245   104   153   349   114   320
   292   226   420   500   325   307    78   265   108   123   189    32
    58    86   219   800   335    63   229   425    67    87  1200   158
   650   234   310   695   400   166   119    62   168   340   479    43
   395   144    52    47   529   187   209   233    82   269   163   172
   305   156   550   435   137   124    48   279   330  5000   134   378
    97   277    64   193   147   186   264    30  3000   112    94   379
    57   415   236   410   214    88    66    71   171   157   545  1500
    83    96  1800    81   188   380   255   505    54    33   174    93
   740   640  1300   440   599   357  1239   495   127  5999   178   348
   152   242   183   253   750   259   365   273   197   397   103   389
   355   559    38   203   999   141   162   333   698    46   360   895
    10    41   206   281   449   388   212   102   201  2750  4750   432
   675   167   390   298   339   194   302   211   595   191    53   361
   480  8000  4500   459   997   345   216   218   111   735   276    91
   490   850   398    36   775   267   625   336  2500   176   725  3750
   469   106   460   287   575   227   263    25   228   208   177   880
   148   116   685   470   217   164    61   645   699   405   252   319
   268   419   343   525   311   840   154   294   950   409   184   257
   204   241  2000   412   121   288   196   900   647   524  1750   309
   510  1495  1700   799   383   372   492   327  1999   656   224   173
   875  1170   795   690   146   465  1100   151   274   429   825   282
   256  1111   620   271   161    51   855   579  1174   430    20   899
   649   485   181   455  4000   243   342   590   560   374   437   232
   359   985    31   244   254   723   237   428   370    34  1400   580
  2520   221   749  1600  2695   306   202   680   570   520   223  2295
   213  1065   346    24   286   296   266    26   995  1368   393   182
   635   258   780   589   347  1250  1350   446  3200  1050  1650  1550
   975   323  6500  2499  1850  2250   715   461   540   356   439   384
   569  1900    22   785   626   830   318   444   321   401  1499   888
   369   770   386   366   344   630   313   597   262   509 10000   278
   312   789  1195   422    21   765  3500   945   326  3100  2486  3390
  1356  2599   472   454   328   396   291]

Total missing:  0

In [24]:
# Part 2

df = pd.read_csv('./wrangling/data/sharks.csv', low_memory=False)
print(df)

      index   Case Number                  Date    Year        Type  \
0         0    2020.02.05           05-Feb-2020  2020.0  Unprovoked
1         1  2020.01.30.R  Reported 30-Jan-2020  2020.0    Provoked
2         2    2020.01.17           17-Jan-2020  2020.0  Unprovoked
3         3    2020.01.16           16-Jan-2020  2020.0  Unprovoked
4         4    2020.01.13           13-Jan-2020  2020.0  Unprovoked
...     ...           ...                   ...     ...         ...
6457   6457       ND.0005           Before 1903     0.0  Unprovoked
6458   6458       ND.0004           Before 1903     0.0  Unprovoked
6459   6459       ND.0003             1900-1905     0.0  Unprovoked
6460   6460       ND.0002             1883-1889     0.0  Unprovoked
6461   6461       ND.0001             1845-1853     0.0  Unprovoked

                 Country               Area  \
0                    USA               Maui
1                BAHAMAS             Exumas
2              AUSTRALIA    New South Wales
3            NEW ZEALAND          Southland
4                    USA     North Carolina
...                  ...                ...
6457           AUSTRALIA  Western Australia
6458           AUSTRALIA  Western Australia
6459                 USA     North Carolina
6460              PANAMA                NaN
6461  CEYLON (SRI LANKA)   Eastern Province

                                 Location                  Activity  \
0                                     NaN  Stand-Up Paddle boarding
1                                     NaN                  Floating
2                           Windang Beach                   Surfing
3                             Oreti Beach                   Surfing
4                   Rodanthe, Dare County                   Surfing
...                                   ...                       ...
6457                          Roebuck Bay                    Diving
6458                                  NaN              Pearl diving
6459                       Ocracoke Inlet                  Swimming
6460                 Panama Bay 8ºN, 79ºW                       NaN
6461  Below the English fort, Trincomalee                  Swimming

                       Name  ... Unnamed: 246 Unnamed: 247 Unnamed: 248  \
0                       NaN  ...          NaN          NaN          NaN
1           Ana Bruna Avila  ...          NaN          NaN          NaN
2            Will Schroeter  ...          NaN          NaN          NaN
3               Jordan King  ...          NaN          NaN          NaN
4              Samuel Horne  ...          NaN          NaN          NaN
...                     ...  ...          ...          ...          ...
6457                   male  ...          NaN          NaN          NaN
6458                  Ahmun  ...          NaN          NaN          NaN
6459  Coast Guard personnel  ...          NaN          NaN          NaN
6460        Jules Patterson  ...          NaN          NaN          NaN
6461                   male  ...          NaN          NaN          NaN

     Unnamed: 249 Unnamed: 250 Unnamed: 251 Unnamed: 252 Unnamed: 253  \
0             NaN          NaN          NaN          NaN          NaN
1             NaN          NaN          NaN          NaN          NaN
2             NaN          NaN          NaN          NaN          NaN
3             NaN          NaN          NaN          NaN          NaN
4             NaN          NaN          NaN          NaN          NaN
...           ...          ...          ...          ...          ...
6457          NaN          NaN          NaN          NaN          NaN
6458          NaN          NaN          NaN          NaN          NaN
6459          NaN          NaN          NaN          NaN          NaN
6460          NaN          NaN          NaN          NaN          NaN
6461          NaN          NaN          NaN          NaN          NaN

     Unnamed: 254 Unnamed: 255
0             NaN          NaN
1             NaN          NaN
2             NaN          NaN
3             NaN          NaN
4             NaN          NaN
...           ...          ...
6457          NaN          NaN
6458          NaN          NaN
6459          NaN          NaN
6460          NaN          NaN
6461          NaN          NaN

[6462 rows x 257 columns]

In [ ]:
df['Type'].value_counts()

Unprovoked             4716
Provoked                593
Invalid                 552
Sea Disaster            239
Watercraft              142
Boat                    109
Boating                  92
Questionable             10
Unconfirmed               1
Unverified                1
Under investigation       1
Boatomg                   1
Name: Type, dtype: int64

In [ ]:
import numpy as np

type = df['Type']

type = type.replace(['Sea Disaster', 'Boat','Boating','Boatomg'],'Watercraft') #all boating values
type.value_counts()

type = type.replace(['Invalid', 'Questionable','Unconfirmed','Unverified','Under investigation'],np.nan) # All unclean values
type.value_counts()

df['Type'] = type #This replaces the unclean 'type' variable with the cleaned version
del type #destroy the temporary vector

df['Type'].value_counts()

Unprovoked    4716
Provoked       593
Watercraft     583
Name: Type, dtype: int64

In [ ]:
df['Fatal (Y/N)'] = df['Fatal (Y/N)'].replace(['UNKNOWN', 'F','M','2017'],np.nan) # All unclean values
df['Fatal (Y/N)'] = df['Fatal (Y/N)'].replace('y','Y') # All unclean values
pd.crosstab(df['Type'],df['Fatal (Y/N)'],normalize='index')

Fatal (Y/N)         N         Y
Type
Provoked     0.967521  0.032479
Unprovoked   0.743871  0.256129
Watercraft   0.684303  0.315697

In [22]:
######
import numpy as np

df = pd.read_parquet('/content/wrangling/data/justice_data.parquet')
print(df)

df["WhetherDefendantWasReleasedPretrial"] = df ["WhetherDefendantWasReleasedPretrial"].replace(9,np.nan)

      InternalStudyID REQ_REC# Defendant_Sex Defendant_Race  \
0            ADI00001        1             M              W
1            ADI00007        3             M              B
2            ADI00008        4             M              W
3            CDI00036        6             M              B
4            CDI00038        7             F              W
...               ...      ...           ...            ...
22981        SJA00343    22839             M              B
22982        SJA00344                      F              W
22983        SJA00345    22841             M              B
22984        SJA00346    22842             F              B
22985        SJA00347    22843             M              B

      Defendant_BirthYear Defendant_Age  Defendant_AgeGroup  \
0                    1986            31                   3
1                    1956            60                   6
2                    1990            27                   3
3                    1989            27                   3
4                    1988            28                   3
...                   ...           ...                 ...
22981                1976            41                   4
22982                                                     9
22983                1981            36                   4
22984                1993            24                   2
22985                1985            31                   3

      Defendant_AgeatCurrentArrest  Defendant_AttorneyTypeAtCaseClosure  \
0                               31                                   99
1                               60                                    9
2                               27                                    9
3                               27                                    0
4                               28                                    0
...                            ...                                  ...
22981                           41                                    2
22982                                                                99
22983                           36                                    1
22984                           24                                    5
22985                           31                                    2

       Defendant_IndigencyStatus  ... NewFelonySexualAssaultArrest_OffDate  \
0                             99  ...
1                              9  ...
2                              9  ...
3                              0  ...
4                              0  ...
...                          ...  ...                                  ...
22981                          1  ...
22982                         99  ...
22983                          1  ...
22984                          0  ...
22985                          1  ...

      NewFelonySexualAssaultArrest_ArrestDate  \
0
1
2
3
4
...                                       ...
22981
22982
22983
22984
22985

       NewFelonySexualAssaultArrest_DaysBetweenContactEventandOffDate  \
0
1
2
3
4
...                                                  ...
22981
22982
22983
22984
22985

      NewFelonySexualAssaultArrest_DaysBetweenOffDateandArrestDate  \
0                                                    999
1                                                    999
2                                                    999
3                                                    999
4                                                    999
...                                                  ...
22981                                                999
22982                                                999
22983                                                999
22984                                                999
22985                                                999

       NewFelonySexualAssaultArrest_DaysBetweenReleaseDateandOffDate  \
0                                                    999
1                                                    999
2                                                    999
3                                                    999
4                                                    999
...                                                  ...
22981                                                999
22982                                                999
22983                                                999
22984                                                999
22985                                                999

       NewFelonySexualAssaultArrest_Disposition  \
0
1
2
3
4
...                                         ...
22981
22982
22983
22984
22985

       Intertnalindicator_ReasonforExcludingFromFollowUpAnalysis  \
0                                                      4
1                                                      5
2                                                      5
3                                                      5
4                                                      0
...                                                  ...
22981                                                  0
22982                                                  3
22983                                                  0
22984                                                  0
22985                                                  0

       CriminalHistoryRecordsReturnedorCMSRecordsFoundforIndividual  \
0                                                      1
1                                                      1
2                                                      1
3                                                      1
4                                                      1
...                                                  ...
22981                                                  1
22982
22983                                                  1
22984                                                  1
22985                                                  1

      DispRecordFoundforChargesinOct2017Contact_Atleast1dispfound  \
0                                                      0
1                                                      1
2                                                      1
3                                                      1
4                                                      1
...                                                  ...
22981                                                  1
22982                                                  9
22983                                                  1
22984                                                  1
22985                                                  1

       CrimeCommission2021ReportClassificationofDefendants
0      Defendant could not be classified or tracked d...
1      Defendant Detained Entire Pre-Trial Period_Und...
2      Defendant Detained Entire Pre-Trial Period_Und...
3      Defendant Detained Entire Pre-Trial Period_Und...
4      New criminal offense punishable by incarcerati...
...                                                  ...
22981  New criminal offense punishable by incarcerati...
22982  Defendant could not be classified or tracked d...
22983  New criminal offense punishable by incarcerati...
22984  New criminal offense punishable by incarcerati...
22985  New criminal offense punishable by incarcerati...

[22986 rows x 709 columns]

In [23]:
length = df['ImposedSentenceAllChargeInContactEvent']
type = df['SentenceTypeAllChargesAtConvictionInContactEvent']

# print( length.unique()  , '\n') # Some values are ' ', denoting missing
length = pd.to_numeric(length,errors='coerce') # Coerce to numeric
length_NA = length.isnull() # Create a missing dummy
print( np.sum(length_NA),'\n') # 9k missing values of 23k, not so good

print( pd.crosstab(length_NA, type), '\n') # Category 4 is cases where the charges were dismissed

length = length.mask( type == 4, 0) # Replace length with 0 when type ==4
length = length.mask( type == 9, np.nan) # Replace length with np.nan when type == 9

length_NA = length.isnull() # Create a new missing dummy
print( pd.crosstab(length_NA, type), '\n')
print( np.sum(length_NA),'\n') # 274 missing, much better

df['ImposedSentenceAllChargeInContactEvent'] = length # Replace data with cleaned version
del length, type

9053

SentenceTypeAllChargesAtConvictionInContactEvent     0     1    2     4    9
ImposedSentenceAllChargeInContactEvent
False                                             8720  4299  914     0    0
True                                                 0     0    0  8779  274

SentenceTypeAllChargesAtConvictionInContactEvent     0     1    2     4    9
ImposedSentenceAllChargeInContactEvent
False                                             8720  4299  914  8779    0
True                                                 0     0    0     0  274

274

**Q3.** Many important datasets contain a race variable, typically limited to a handful of values often including Black, White, Asian, Latino, and Indigenous. This question looks at data gathering efforts on this variable by the U.S. Federal government.

1. How did the most recent US Census gather data on race?
2. Why do we gather these data? What role do these kinds of data play in politics and society? Why does data quality matter?
3. Please provide a constructive criticism of how the Census was conducted: What was done well? What do you think was missing? How should future large scale surveys be adjusted to best reflect the diversity of the population? Could some of the Census' good practices be adopted more widely to gather richer and more useful data?
4. How did the Census gather data on sex and gender? Please provide a similar constructive criticism of their practices.
5. When it comes to cleaning data, what concerns do you have about protected characteristics like sex, gender, sexual identity, or race? What challenges can you imagine arising when there are missing values? What good or bad practices might people adopt, and why?
6. Suppose someone invented an algorithm to impute values for protected characteristics like race, gender, sex, or sexuality. What kinds of concerns would you have?